{% extends 'base.html' %}
{% load static %}
{% block title %}Pendiente{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pendiente</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a><strong>Contenido Pendiente</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {% for content in content_list %}
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-desc">
                        <small class="text-muted">Contenido</small>
                        <a href="{% url 'content_update' content.id %}" class="product-name">{{content.title}}</a>
                        <div class="small m-t-xs">
                            {{content.description|safe|escape }}
                        </div>
                        <div class="m-t text-righ">
                            <a href="{% url 'content_detail' content.pk %}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock %}