{% extends 'land/landing_base.html' %}
{% load static %}
{% block title %}Litigiosos.com{% endblock %}
{% block content %}
<style>
    #name_val_search {
        padding: 0 36px 0 18px;
        width: 100%;
    }
    #city_search {
        padding: 0 36px 0 18px;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row pb-3">
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="blog-w-master">
                <div class="u-s-m-b-60">
                    <div class="blog-w">
                        <span class="blog-w__h">BUSCAR</span>
                       <form class="main-form" id="form-search-user" action="/search/" method="POST">
                        {% csrf_token %}
                            <label for="main-search">Usuario</label>
                            <input class="input-text input-text--border-radius input-text--style-1" type="text" id="name_val_search" placeholder="Buscar">
                            <button class="btn btn--icon fas fa-search main-search-button" id="name_submit"></button>
                        </form>
                    </div>
                </div>
                <div class="u-s-m-b-60">
                    <div class="blog-w">
                       <form class="main-form" id="form-search-city" method="POST">
                        {% csrf_token %}
                            <label for="main-search">Paris</label>
                            <input class="input-text input-text--border-radius input-text--style-1" type="text" id="city_search" placeholder="Buscar">
                            <button class="btn btn--icon fas fa-search main-search-button" id="city_submit"></button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="shop-p__collection">
                <div class="row is-list-active">
                    {% for content in content_list %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product-m">
                            <div class="product-m__thumb">
                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="#">
                                    <img class="aspect__img" src="{% static 'landing/images/product/men/product6.jpg' %}" alt=""></a>
                                <div class="product-m__add-cart">
                                    <a class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-cart">Leer más</a>
                                </div>
                            </div>
                            <div class="product-m__content">
                                <div class="product-m__category">
                                    <a href="#">{{content.title}}</a>
                                </div>
                                <div class="product-m__name">
                                    <a href="#">{{content.title}}</a>
                                </div>
                                <div class="product-m__hover">
                                    <div class="product-m__preview-description">
                                        <span>{{content.description|safe|escape}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="add-to-cart">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content modal-radius modal-shadow">

                                <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="success u-s-m-b-30">
                                                <div class="success__text-wrap"><i class="fas fa-check"></i>

                                                    <span>Item is added successfully!</span></div>
                                                <div class="success__img-wrap">

                                                    <img class="u-img-fluid" src="{% static 'landing/images/product/electronic/product1.jpg' %}" alt=""></div>
                                                <div class="success__info-wrap">

                                                    <span class="success__name">Beats Bomb Wireless Headphone</span>

                                                    <span class="success__quantity">Quantity: 1</span>

                                                    <span class="success__price">$170.00</span></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12">
                                            <div class="s-option">

                                                <span class="s-option__text">1 item (s) in your cart</span>
                                                <div class="s-option__link-box">

                                                    <a class="s-option__link btn--e-white-brand-shadow" data-dismiss="modal">CONTINUE SHOPPING</a>

                                                    <a class="s-option__link btn--e-white-brand-shadow" href="cart.html">VIEW CART</a>

                                                    <a class="s-option__link btn--e-brand-shadow" href="checkout.html">PROCEED TO CHECKOUT</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    {% if content_list.paginator.num_pages > 1 %}
    <div class="u-s-p-y-60">
	    <span class="col-12 mb-3 mt-3">
            
            <ul class="shop-p__pagination">
                {% if content_list.has_previous %}
                <li>
                    <a class="fas fa-angle-double-left" href="?page={{ content_list.previous_page_number }}"></a>
                </li>
                {% else %}
                <li>
                    <a class="fas fa-angle-double-left" href="#" disabled></a>
                </li>
                {% endif %}
                <li class="is-active">
                    <a href="?page={{ content_list.number }}">{{content_list.number}}</a>
                </li>
                {% if content_list.has_next %}
                <li>
                    <a class="fas fa-angle-double-right" href="?page={{ content_list.next_page_number }}"></a>
                </li>
                {% else %}
                <li>
                    <a class="fas fa-angle-double-right" href="#" disabled></a>
                </li>
                {% endif %}
                <span class="float-right">
                    Página {{ content_list.number }} of {{ content_list.paginator.num_pages }}
                </span>
            </ul>
		    
	    </span>
    </div>
	{% endif %}
    <div class="pb-5"></div>
</div>
<script>
    $(document).ready(function(){
        var options = {
            url: function(phrase) {
                return "/ajax_calls/search/";
            },
            getValue: function(element) {
                var element_clone = element.split(" ");
                var elementall = "";
                for (i = 0; i < element_clone.length; i++) {
                    text = element_clone[i].charAt(0)+ element_clone[i].slice(1);
                    elementall = elementall + " " + text;
                }
                return elementall.trim();
            },
            ajaxSettings: {
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            },
            preparePostData: function(data) {
                data.phrase = $("#name_val_search").val();
                return data;
            },
            requestDelay: 400,
            list: {
                match: {
                    enabled: true
                },
                sort: {
                    enabled: false
                },
                maxNumberOfElements: 15
            },
            theme: "square",
            template: {
                type: "custom",
                method: function(value, item) {
                    return '<img src="{% static "landing/images/mbrisearch_99556.svg" %}" />&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;' + value;
                }
            },
        }
        $("#name_val_search").easyAutocomplete(options);

        var options1 = {
            url: function(phrase1) {
                return "/ajax_calls/searchcountry/";
            },
            getValue: function(element) {
                var element_clone = element.split(" ");
                var elementall = "";
                for (i = 0; i < element_clone.length; i++) {
                    text = element_clone[i].charAt(0)+ element_clone[i].slice(1);
                    elementall = elementall + " " + text;
                }
                return elementall.trim();
            },
            ajaxSettings: {
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            },
            preparePostData: function(data) {
                data.phrase1 = $("#city_search").val();
                return data;
            },
            requestDelay: 400,
            list: {
                match: {
                    enabled: true
                },
                sort: {
                    enabled: false
                },
                maxNumberOfElements: 15
            },
            theme: "square",
            template: {
                type: "custom",
                method: function(value, item) {
                    return '<img src="{% static "landing/images/mbrisearch_99556.svg" %}" />&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;' + value;
                }
            },
        }
        $("#city_search").easyAutocomplete(options1);
    });

    $("#city_submit").click(function(evt){
        
        if ($("#city_search").val()!=null){
            evt.preventDefault();
            
            my_form = $('#form-search-city');
            my_form.attr("action",'/' + 'article/country/' + $("#city_search").val() + '/');
            my_form.submit();
        }
    })
    
    $("#name_submit").click(function(evt){
        if ($("#name_val_search").val()!=null){
            evt.preventDefault();
            my_form = $('#form-search-user');
            my_form.attr("action",'/' + 'article/' + $("#name_val_search").val() + '/');
            my_form.submit();
        }
       
        //var token = '{{csrf_token}}';
        //$.ajax({
        //        headers: { "X-CSRFToken": token },
        //        method: 'POST',
        //        url: url,
        //        data: {
        //            'name': name
        //        },
        //        success: function(data) {
        //            if(data == 'Ok') {
        //                location.reload();
        //            }
        //        }
        //    });
    })
</script>
{% endblock %}